# 03. Работа с базами данных

## Вступление

Для этого урока вам понадобятся базы данных:
    - SQLLite
    - Redis
    - Mongo DB
    - Neo4j

Вы можете установить их на своем компьютере. При этом, не забудьте обновить ссылки, логины и пароли на выбранные вами значения.

Также, вы можете воспользоваться базами, размернутыми на нашем сервере. Все наобходимые настроки уже внесены в программный код, используемый в этом файле.

## 1. Обзор баз данных (плоские файлы, SQL, NoSQL)

С момента создания компьютеров накопление информации стало одной из важнейших возлагаемых на них задач. Накопленными данными надо управлять, обрабатывать и обновлять.
Так появились системы управления базами данных (СУБД) — это программное обеспечение, позволяющее человеку осуществлять все необходимые действия с данными на высоком уровне, т.е. не думая о том, как на самом деле хранятся эти данные и что с ними происходит на физическом уровне.

### Плоские файлы

Самый простой вариант хранения структурированных данных - это плоские файлы. Свое название они получили потому, что имеют минимальную структуру. Если сравнить их со зданиями, то стены этого здания стоят на земле, а не на фундаменте.
Плоский файл содержит в себе набор записей данных, которые записываются в определенном формате друг за другом. В файле находятся только данные и ничего кроме них, т.е. список. Файл не содержит метаданных (сведений о структуре хранимой информации).
Вот пример такого файла.
Первая строка - названия колонок.
Вторая и далее - данные. 
Между собой значения колонок разделяются запятыми (или иным выбранным символом)
Нужно самостоятельно разбираться какой тип имеет каждая колонка.

<img src="img/Pic1.png">

Такая форма хранения отлично подходит для простых списков, например email-адреса для рассылки или телефон+ФИО для обзвона.
Но для более сложной информации не годятся. Например, неудобно хранить в плоском списке информацию, если одному ФИО соответствует несколько телефонов. Их придется перечислять через запятую или делать на каждое ФИО столько строк, сколько у него телефонных номеров.

### Реляционная модель

Название этой модели происходит от английского слова “relations”, т.е. “отношения”.
Она появилась еще в 1970-х, как строгий математический способ структурирования, хранения и использования данных. 
Данные храняться в виде таблиц.Таблицы состоят из колонок и строк (кортежей). Для колонок задается тип и в них можно записывать данные только этого типа (нельзя как в Excel в одну ячейку ввести цифру, а в ячейке под ней написать “Примерно 1000 руб”).
Отношения позволяют группировать данные как связанные наборы содержащие информацию (например, имя и адрес человека) и связанные с этим человеком атрибуты (его номер паспорта). 

Для работы с реляционными базами данных был разработан язык запросов SQL. Изначально он планировался как доступный после небольшой подготовки неспециалисту, близкий к живому английскому язык запросов. Например “Выбери всех сотрудников, у которых зарплата больше 100 000”. Но со временем этот язык дорабатывался и усложнялся, но основные команды остались легкими и понятными.
Реляционная модель данных строго формализует структуру хранения данных. Если требуется хранить слабоструктурированные данные или разноплановые данные в каждой строке таблицы, то реляционная модель окажется излишне строгой и заставит проектировать гораздо больше таблиц. 
Реляционные базы лучше всего подходят для однотипных, формализованных данных. Например, каталоги и справочники, стандартизованные документы, которые редко меняются (как в РЖД). Эти базы позволяют быстро получить ответ на вопрос “В каком месяце были самые большие продажи” или “Какой товар самый популярный в этом квартале и какие клиенты покупали его”.

<img src="img/Pic2.png">

Неудобно хранить реляционной базе энциклопедию фильмов - человек может играть несколько ролей в одном фильме, одного героя могут играть несколько актеров (в детстве и зрелом возрасте). Или хранить разноплановые документы, приходящие из разных систем и часто меняющие свою структуру.

### Безмодельный (NoSQL) подход

Чтобы избавится от недостатков, вызванных строгостью реляционных баз, появится NoSQL-способ структуризации данных. 
Следует отметить, что NoSQL расшифровывается как Not Only SQL, т.е. “Не только SQL”. Он не отрицает запросы, но эти запросы не похожи на стандартный SQL.
Базы данных NoSQL используют неструктуризированный подход, они предлагают много более эффективных способов хранения и обработки данных. Но каждый способ применим только в определенных ситуациях.
Например, документо-ориентированные базы хранят информацию в виде иерархических структур данных. При этом они могут хранить объекты с произвольным набором атрибутов, отличающиеся друг от друга. 
То, что в реляционной БД необходимо разделить на множество взаимосвязанных таблиц, в NoSQL может храниться в виде одного объекта.

Ниже рассмотрены виды NoSQL баз. Каждая из них оптимизирована для решения определенного круга задач.

### Базы данных ключ-значение

Этот тип БД работает только с данными похожими на словарь, ключ (слово) и значение (словарная статья по этому слову). В такой базе нет структур и связей. Подключившись к серверу приложение может задать ключ и его значение, а потом получить эти данные.
Такие СУБД используются для быстрого сохранения базовых данных, к которым впоследствии нужен быстрый доступ. Такие базы очень быстры и легко масштабируемы.
Отлично подходят для хранения данных пользовательской сессии на сайте, кеша, счётчиков посещений или просмотров и т.д.

<img src="img/Pic3.png">

Недостаток: Нет запросов и связей между ячейками, это именно хранилище данных. Такая база не ответит на вопрос “кто из посетителей сайта смотрел страницу с нашими новостями”.

### Документо-ориентированные базы данных

Этот тип баз данных ориентирован на хранение документов имеющих различную структуру в том виде “как есть”.
Такие NoSQL СУБД допускают большую вложенность и сложность данных (например, документ вложенный в документ, вложенный в документ). Можно создать сколь угодно сложную структуру данных как документ и сохранить в базе.
Эти СУБД имеют ряд своих особенностей. Она удобна для поиска в документах, но не для построения связей между ними.
Такая база отлично подойдет под хранение данных о фильмах, из примера, приведенного выше или историй болезни.
В базе хранятся коллекции, внутри коллекций - документы. А в документах в полях (field) хранится информация. Поле может быть отдельным документом, так что внутри документов могут быть вложенные документы.

<img src="img/Pic4.png">

### Базы данных на основе графов

Базы данных на основе графов хранят данные в древовидных структурах с узлами и связями соединяющими их. Некоторые операции удобнее (нагляднее) выполнять именно с таким представлением данных.
Например, сведения о географических объектах. Загородный санаторий расположен вне населенных пунктов, но находится вблизи от трех городов, двух шоссе. Кроме того, вокруг него расположены интересные места, с которыми он тоже связан.
Такая база не подойдет для хранения статистических табличных данных, т.е. время выполнения запросов по таким данным в реляционных базах гораздо больше.

<img src="img/Pic5.png">

### Выводы

Как мы увидели, для решение специфических задач, отличных от обработки статистики и хранения данных с жесткой структурой, существуют специализированные решения. 
Вытеснения реляционных баз и замены их новыми системами не произошло. И сегодня никто, кроме фанатов, не верит в это.
NoSQL-решения хорошо справляются со своими задачами и часто работают в связке с реляционными базами. Например, данные по заказам, продажам, отгрузкам и оплатам хранятся в SQL-базе, сведения по документам в документной СУБД, а сведения о товарах в корзине пользователя интернет-магазина в системе ключ-значение.
Одним словом, нужно подбирать инструмент под задачу.

## 2. Работа с плоскими файлами

Допустим, нам нужно сохранить ряд ссылок на сайты.
Плоский файл вполне подходит для этого.

Алгоритм действий таков:
    - Открываем файл в нужном нам режиме (запись или чтение)
    - Выполняем действия с файлом
    - Закрываем файл. Если не закрыть файл, то он может стать недоступным для других программ (например, для открытия в Блокноте).

Пример записи в файл:

In [ ]:
fName = 'my_data.txt' # Имя файла

# Открываем файл в режиме "запись", если файла не существует, создается новый, задаем кодировку
my_writefile = open(fName, mode="w", encoding="utf-8") 
 
my_writefile.write("Ссылка 1\n") # Добавляем несколько строк
my_writefile.write("Ссылка 2\n") # \n нужно добавлять, чтобы следующая запись началась с новой строки
my_writefile.write("Ссылка 3\n")
my_writefile.write("Ссылка 4\n")
my_writefile.close() # Закрываем файл



my_writefile = open(fName, mode="a", encoding="utf-8") # Открываем файл еще раз, информация добавляется в конец файла
 
my_writefile.write("Link 1\n") # Добавляем несколько строк
my_writefile.write("Link 2\n")
my_writefile.write("Link 3\n")
my_writefile.write("Link 4\n")
my_writefile.close() # Закрываем файл

Проверим что у нас получилось

In [ ]:
my_readfile = open(fName, mode="r", encoding="utf-8") # Открываем файл в режиме "Только чтение"
for line in my_readfile: # Перебираем строки в цикле
    print(line)          # И печатаем их
my_readfile.close()  # Закрываем файл

Для работы с плоскими файлами не требуется установка каких-либо дополнительных библиотек. Python умеет работать с файлами. Для работы с другими типами СУБД потребуются дополнительные библиотеки.

## 3. Работа с реляционными базами данных (на примере SQLite)

### 1. Язык SQL

SQLite (https://ru.wikipedia.org/wiki/SQLite) - бесплатная, встраиваемая, доступная для свободного использования СУБД, не требующая установки. Ее синтаксис максимально приближен к популярной СУДБ MySQL.

SQLite подходит как для обучения, так и для реальной работы с данными.

Основные действия, которые происходят в базах данных это:
    - Добавление (Create)
    - Чтение (Read)
    - Изменение (Update)
    - Удаление (Delete)

Все эти действия описываются аббревиатурой CRUD. Но сначала нужно создать базу данных и таблицы в ней.

Приведу в качестве примера две простые таблицы

Клиенты
<table class="table table-striped table-bordered">
<thead>
    <tr><th>Идентификатор клиента (id_person)</th><th>ФИО Клиента</th></tr>
</thead>
<tr><td>1</td><td>Иванов Иван</td></tr>
<tr><td>2</td><td>Сергеев Петр</td></tr>
</table>

Телефоны
<table class="table table-striped table-bordered">
<thead>
    <tr><th>Идентификатор телефона (id_phone)</th><th>Идентификатор клиента (id_person)</th><th>Телефон</th></tr>
</thead>
<tr><td>1</td><td>1</td><td>+7 123-4455</td></tr>
<tr><td>2</td><td>1</td><td>+7 123 6598</td></tr>
<tr><td>3</td><td>2</td><td>+7 568-8989</td></tr>
</table>

В первой таблице два клиента с идентификаторами 1 и 2.

Во второй три телефона, два из них принадлежат клиенту с идентификатором 1, в третий клиенту с идентификатором 2.

Это и называется отношениями (relations).

Таблица с телефонами ссылается на номера клиентов.

Создание таблицы имеет следующий синтаксис (упрощенный вариант, полный вариант гораздо объемнее):

``` mysql
CREATE TABLE IF NOT EXISTS table_name
(
  column_name1 datatype [ NULL | NOT NULL ]
                   [ DEFAULT default_value ]
                   [ AUTO_INCREMENT ]
                   [ PRIMARY KEY ],
  column_name2 datatype [ NULL | NOT NULL ]
                   [ DEFAULT default_value ],
  FOREIGN KEY index_name (index_col_name) REFERENCES another_table_name (index_col_name)
)
```

Разберем подробнее:

column_name1 - имя колонки.

datatype - тип данных, которые будут хранится в этой колонке. Мы будем использовать типы INT (целые числа), DATETIME (Дата и время), VARCHAR(255) (Строка, в скобках указывается максимальная длина).

NULL | NOT NULL  - Может ли колонка остаться незаполненной.

DEFAULT default_value - значение по умолчанию, то значение, которое будет записано, если мы при добавлении записи не укажем его в явном виде.

PRIMARY KEY - признак того, что это поле является идентификатором. В таблице может быть только одно поле с этим типом.

Скрипты для создания таблиц:

``` mysql
CREATE TABLE PRA_Person (
id_person INTEGER NOT NULL PRIMARY KEY, # Идентификатор клиента

	first_name VARCHAR(255) NOT NULL, # Фамилия
    
	last_name VARCHAR(255) NULL, # Имя
    
	age INTEGER,  # Возраст
    
	datecreate DATETIME DEFAULT CURRENT_TIMESTAMP # Дата добавления записи
    
);


CREATE TABLE PRA_Phone (

	id_phone INTEGER NOT NULL PRIMARY KEY, # Идентификатор телефонного номера
    
	id_person INTEGER  NOT NULL, # Идентификатор клиента
    
	phone_num VARCHAR(255) NOT NULL , # Номер телефона
    
   FOREIGN KEY (id_person)  REFERENCES PRA_Person (id_person) # Внешний ключ - ссылка на таблицу клиентов
   
);
```

Мы создаем внешний ключ. Он нужен для гарантии “ссылочной целостности” - после его создания СУБД не позволит поставить ссылку на несуществующий идентификатор клиента или удалить клиента, если по нему внесен телефон.

##### Добавление записей в таблицу:

``` mysql
INSERT INTO PRA_Person(first_name, last_name) VALUES('Иванов', 'Иван');

INSERT INTO PRA_Person(first_name, last_name) VALUES('Сергеев', 'Петр');

INSERT INTO PRA_Person(first_name, last_name) VALUES('Иванников', 'Захар');
```

Сначала идет команда “INSERT INTO”. Регистр служебных слов не имеет значения.

Потом имя таблицы “PRA_Person”, а за ним в круглых скобках перечень полей (колонок) в которые вставляются данные (в нашем случае это first_name, last_name).

Потом “VALUES” , а за ним в круглых скобках вставляемые значения для каждой из колонок.

##### Проверим, что какие данные теперь в нашей таблице:

``` mysql
SELECT * FROM PRA_Person;
```

Команда выбора данных всегда начинается со слова “SELECT”, потом перечень полей, которые мы хотим вернуть или знач *, если хотим получить все поля из таблицы, а потом имя самой таблицы.

Как видно, поля id_person автоматически заполняются цифрами-идентификаторами (это поле у нас AUTO_INCREMENT), а в поля datecreate автоматически заносится дата-время добавления записи в таблицу (при создании таблицы мы указали значение по умолчанию DEFAULT CURRENT_TIMESTAMP).

В запрос можно добавить условия:
    
``` mysql
SELECT * FROM PRA_Person WHERE first_name = 'Иванов';
```

Этот запрос вернет нам все строки таблицы, в которых в поле first_name записано 'Иванов'.

А этот вернет все строки, где фамилия начинается с букв “Ива”:
    
``` mysql
SELECT * FROM PRA_Person WHERE first_name LIKE 'Ива%';
```

Возможные условия:

<img src="img/Pic_t3.png">

Внимание: незаданное значение - это Null. Для всез типов данных.

Для типа INT 0 и Null это разные вещи.

Для типа VARCHAR пустая строка (две одиночные кавычки подряд - ‘’) и Null - тоже разные вещи.

##### Обновление данных:

``` mysql
UPDATE PRA_Person SET age = 30, last_name = 'Петр' WHERE first_name = 'Иванов';
```

Команда UPDATE, потом имя таблицы, потом SET, потом перечисление “Имя поля” = “Новое значение” через запятую.

В конце - условия, как в команде SELECT.

##### Удаление  данных:

``` mysql
DELETE FROM PRA_Person WHERE first_name = 'Иванов';
``` 

Команда DELETE, потом имя таблицы, потом условия, как в команде SELECT.

Также существует команда, позволяющая сразу сделать выборку из таблицы и вставить результат в другую таблицу

##### Вставка в таблицу результата выборки:

``` mysql
INSERT INTO PRA_Phone(id_person, phone_num) SELECT id_person, '+7 111-1122' FROM PRA_Person WHERE first_name = 'Иванов';
``` 

В этом скрипте вы выбираем идентификатор Иванова и используем его при вставке в таблицу с телефонами.

##### Очистим таблицы и заполним тестовыми данными

Сначала попробуйте выполнить скрипт (удалить всех клиентов)

``` mysql
DELETE FROM PRA_Person;
```

База выдаст сообщение об ошибке, т.к. в нас есть телефоны связанные с клиентами. Удаление клиентов приведет к нарушению ссылочной целостности (ссылки на клиентов в таблице телефонов будет указывать на несуществующие записи).

Нужно делать так

``` mysql
DELETE FROM PRA_Phone; # Удаляем сначала телефоны

DELETE FROM PRA_Person; # А потом клиентов
```

Снова вносим клиентов:

``` mysql
INSERT INTO PRA_Person(first_name, last_name) VALUES('Иванов', 'Иван');

INSERT INTO PRA_Person(first_name, last_name) VALUES('Сергеев', 'Петр');

INSERT INTO PRA_Person(first_name, last_name) VALUES('Иванников', 'Захар');
```

И телефоны по ним:

``` mysql
INSERT INTO PRA_Phone(id_person, phone_num) SELECT id_person, '+7 111-1122' FROM PRA_Person WHERE first_name = 'Иванов';

INSERT INTO PRA_Phone(id_person, phone_num) SELECT id_person, '+7 111-7788' FROM PRA_Person WHERE first_name = 'Иванов';

INSERT INTO PRA_Phone(id_person, phone_num) SELECT id_person, '+7 333-4567' FROM PRA_Person WHERE first_name = 'Сергеев';
```

Обратите внимание, у Иванова два телефона, у Сергеева - один, а у Иванцова нет ни одного.

Теперь наша задача получить телефонный справочник. Т.е. табличку с ФИО и телефонами.

Выполним такой запрос:
    
``` mysql
SELECT Prs.id_person, Prs.first_name, last_name, phone_num

FROM PRA_Person Prs

JOIN PRA_Phone Ph ON Ph.id_person = Prs.id_person
```

Как вы заметили, это усложненные вариант ужа знакомого нам SELECT.

В нем использовано две таблицы одновременно (PRA_Person и PRA_Phone).

Они соединены командой JOIN.

Кроме того, для каждой таблицы указано короткое наименование или синоним/алиас (для PRA_Person алиас Prs, для PRA_Phone алиас Ph). Это служит для упрощения запроса, алиас обычно состоит из 1-4 символов.

Синтаксис JOIN таков

``` mysql
SELECT …

FROM “Имя первой таблицы” “Алиас первой таблицы”

JOIN “Имя второй таблицы” “Алиас второй таблицы” 

ON “Алиас первой таблицы”.”Поле для связи таблиц” =  “Алиас второй таблицы”.”Поле для связи таблиц”

“Поле для связи таблиц” - это то самое поле, в котором указывается идентификатор.
```  

В запросе 

``` mysql
SELECT Prs.id_person, Prs.first_name, last_name, phone_num
``` 

в некоторых случаях кроме имени поля указан алиас таблицы. Дело в том, что разные таблицы могут содержать поля с одинаковыми именами. Поэтому, чтобы избежать ошибки, следует явно указывать из какой таблицы берется это поле. Поля с наименованиями last_name и phone_num есть только в одной таблице, так что для них алиас можно не указывать. Но хорошим тоном считается всегда указывать алиас.


Посмотрим, что нам вернул этот запрос.

Он вернул только тех клиентов, у которых указан телефон. Что делать, если нужно получить полный список клиентов, даже тех, у которых нет телефона?

Для этого служит запрос LEFT JOIN

Он вернет все данные из левой таблицы (это та таблица, что встретилась в запросе первой, в нашем случае PRA_Person), а потом по возможности добавит к ним данные из правой (PRA_Phone) таблицы. Где нет данных - будет Null


Запрос примет такой вид:

``` mysql
SELECT Prs.id_person, Prs.first_name, last_name, phone_num
FROM PRA_Person Prs
LEFT JOIN PRA_Phone Ph ON Ph.id_person = Prs.id_person
```

##### Группировка значений

Часто возникает задача сгруппировать данные и узнать, сколько всего значений задано для группы, максимальное/минимальное значение и сумму.

Для группировки используется оператор GROUP BY, в сочетании с агрегатными функциями (COUNT, MAX, MIN, SUM, AVG).<br/>
    - COUNT - количество значений
    - MAX - максимальное значение
    - MIN - минимальное значение
    - SUM - сумма
    - AVG - среднее значение
    
Группировка может проводится по одному или несколькими столбцами.

Сгруппируем данные нашего справочника по клиентам и узнаем, сколько у каждого из них телефонных номеров, сколько раз им звонили и какое максимальное количество звонков на один номер они приняли.

``` mysql
SELECT Prs.id_person, Prs.first_name, Prs.last_name, 
    COUNT(phone_num) as phone_count, 
    max(calls_count) as max_calls_count, 
    sum(calls_count) as sum_calls_count
FROM RPA_Person Prs
LEFT JOIN RPA_Phone Ph ON Ph.id_person = Prs.id_person
GROUP BY Prs.id_person, Prs.first_name, Prs.last_name
```

##### Индексы в таблице

Для ускорения поиска в SQL-базах создают индексы. Индекс - это подобие алфавитного указателя в конце книги. Если мы ходим найти какую-то тему, то смотрим в алфавитный указатель и узнаем, на какой странице она описана.

Индекс ускоряют запросы SELECT, но замедляют операторы UPDATE и INSERT, т.к. после каждого изменения данных индексы перестраиваются заново. На больших базах программисты используют такую хитрость: перед внесением большого числа изменений удаляют индекс, а после внесения - восстанавливают. Однократное переиндексирование позволяет сэкономить время.

Создание или удаление индексов не влияет на сохраненые данные.

Синтаксис создания индекса<br/>
``` mysql
CREATE INDEX IF NOT EXISTS index_name ON table_name(column_name);
```  

Синтаксис удаления индекса<br/>
``` mysql
DROP INDEX IF EXIST index_name;
```

### 2. Работа через Python-библиотеку

Для доступа к базе данных будем использовать библиотеку sqlite3.
Это стандартная библиотека Python, не требующая отдельной установки.

Алгоритм выполнения запросов на чтение данных такой:
    - Создаем соединение с базой. После подключения получаем объект “соединение”
    - Получаем “курсор” из объекта “соединение”
    - Вызываем метод execute() у курсора
    - Вызываем метод fetchall() у курсора и получаем объект “строки данных”;
    - Закрываем “курсор”
    - Работаем с объектом “строки данных”;
    - Закрываем “соединение”.

Ниже код, который вернет нам содержимое таблицы Клиенты

Для красивого отображения данных воспользуемся готовой процедурой sqldataToTable - она преобразует данные в приятную для глаз HTML-таблицу.

In [5]:
from IPython.display import HTML, display

def sqldataToTable(data):
    if len(data) == 0 : # Если запрос не вернул ни одногй строки - сообщаем об этом
        display(HTML('<b>Нет данных</b>'))
        return
    
    hdr = ''
    dt = ''
    for col in data[0].keys(): # Формируем заголовок таблицы
        hdr = hdr + '<th>' + col + '</th>'

    for row in data: # Проходим циклом по всем строкам
        dt = dt + '<tr>'
        for cell in row: # И формируем тело таблицы
            dt = dt + '<td>' + str(cell) + '</td>'
        dt = dt + '</tr>'
            
    display(HTML('<table>' + '<tr>' + hdr + '</tr>' + dt + '</table>')) # Выводим таблицу на экран

In [7]:
import sqlite3 # Загружаем библиотеку
conn = sqlite3.connect("testDB2.sqlite") # Создаем соединение с базой данных (файлом с именем McScv.sqlite)

In [8]:
cursor = conn.cursor( ) # Получаем “курсор” из объекта “соединение”

# Создаем таблицу Клиенты
cursor.execute("""CREATE TABLE IF NOT EXISTS RPA_Person ( id_person INTEGER NOT NULL PRIMARY KEY,  
first_name VARCHAR(255) NOT NULL,  
last_name VARCHAR(255) NULL,  
age INTEGER,   
datecreate DATETIME DEFAULT CURRENT_TIMESTAMP  
)""")

# Создаем таблицу Телефоны
cursor.execute("""CREATE TABLE IF NOT EXISTS RPA_Phone (
id_phone INTEGER NOT NULL PRIMARY KEY,  
id_person INTEGER  NOT NULL,  
phone_num VARCHAR(255) NOT NULL , 
calls_count INTEGER,
FOREIGN KEY (id_person) REFERENCES PRA_Person (id_person)  
)""")

In [9]:
# Создаем индекс в таблице клиентов по колонке first_name 
cursor.execute("CREATE INDEX IF NOT EXISTS index_first_name ON RPA_Person(first_name)")

# Создаем индекс в таблице телефонов по колонке phone_num 
cursor.execute("CREATE INDEX IF NOT EXISTS index_phone_num ON RPA_Phone(phone_num)")

In [10]:
cursor = conn.cursor( ) # Получаем “курсор” из объекта “соединение”

cursor.execute("DELETE FROM RPA_Phone;") # Очищаем таблицу телефонов
cursor.execute("DELETE FROM RPA_Person;") # Очищаем таблицу клиентов

# Вносим клиентов
cursor.execute("INSERT INTO RPA_Person(first_name, last_name) VALUES('Иванов', 'Иван');")
cursor.execute("INSERT INTO RPA_Person(first_name, last_name) VALUES('Сергеев', 'Петр');")
cursor.execute("INSERT INTO RPA_Person(first_name, last_name) VALUES('Иванников', 'Захар');")

# И телефоны по ним:
cursor.execute("INSERT INTO RPA_Phone(id_person, phone_num, calls_count) SELECT id_person, '+7 111-1122', 50 FROM RPA_Person WHERE first_name = 'Иванов';")
cursor.execute("INSERT INTO RPA_Phone(id_person, phone_num, calls_count) SELECT id_person, '+7 111-7788', 60 FROM RPA_Person WHERE first_name = 'Иванов';")
cursor.execute("INSERT INTO RPA_Phone(id_person, phone_num, calls_count) SELECT id_person, '+7 333-4567', 70 FROM RPA_Person WHERE first_name = 'Сергеев';")

conn.commit() # Сохраняем измененения в базе

cursor.close() # Закрываем “курсор”

In [11]:
conn.row_factory = sqlite3.Row # Выбираем режим, при котором можно обращаться к полям запроса по именам
cursor = conn.cursor( ) # Получаем “курсор” из объекта “соединение”


cursor.execute("SELECT * FROM RPA_Person") # Выполняем запрос
rows = cursor.fetchall() # Получаем объект “строки данных”

for row in rows: # Проходим циклом по всем строкам
    print(row['first_name'], row['last_name'], row['age']) # Обратится к полю можно указав его имя - row['first_name']
    
cursor.close() # Закрываем “курсор”

Иванов Иван None
Сергеев Петр None
Иванников Захар None

Как быть, если мы хотим задать условия для запроса?

Разумеется можно написать 
``` mysql
cursor.execute("SELECT * FROM PRA_Person WHERE first_name = 'Иванов'")  
```
И запрос отработает, но это не самый лучший вариант.

Лучший вариант более громоздкий, зато его удобно использовать при многократных вызовах.

In [12]:
conn.row_factory = sqlite3.Row # Выбираем режим, при котором можно обращаться к полям запроса по именам
cursor = conn.cursor( ) # Получаем “курсор” из объекта “соединение”

# Текст запроса с параметрами
# параметр начинается двоеточия :first_name
# в скобках указывается его название
query = "SELECT * FROM RPA_Person WHERE first_name=:first_name"

# Аргументы, которые мы подставим в запрос
# Первым идет имя параметра, вторым его значение
# Если значение - строка, то заключаем его в одиночные кавычки
args = {'first_name' : 'Иванов'}  
cursor.execute(query, args) # Выполняем запрос, передав ему аргументы
rows = cursor.fetchall() # Получаем объект “строки данных”

for row in rows:  
    print(row['first_name'], row['last_name'], row['age'])   # Выводим интересующие нас колонки на экран 
sqldataToTable(rows) # Выводим все колонки в виде таблицы

cursor.close() # Закрываем “курсор”

Иванов Иван None

Выполним запрос с группировкой - узнаем, сколько у каждого клиента телефонных номеров, сколько раз им звонили и какое максимальное количество звонков на один номер они приняли.

In [13]:
conn.row_factory = sqlite3.Row # Выбираем режим, при котором можно обращаться к полям запроса по именам
cursor = conn.cursor( ) # Получаем “курсор” из объекта “соединение”

cursor.execute("""SELECT Prs.id_person, Prs.first_name, Prs.last_name, COUNT(phone_num) as phone_count, max(calls_count) as max_calls_count, sum(calls_count) as sum_calls_count 
FROM RPA_Person Prs 
LEFT JOIN RPA_Phone Ph ON Ph.id_person = Prs.id_person 
GROUP BY Prs.id_person, Prs.first_name, Prs.last_name""") # Выполняем запрос
rows = cursor.fetchall() # Получаем объект “строки данных”

for row in rows: # Проходим циклом по всем строкам
    print(row['id_person'], row['first_name'], row['last_name'], row['phone_count'], row['max_calls_count'], row['sum_calls_count'])  
    
sqldataToTable(rows) # Выводим все колонки в виде таблицы

cursor.close() # Закрываем “курсор”

3 Иванников Захар 0 None None
1 Иванов Иван 2 60 110
2 Сергеев Петр 1 70 70

##### Задание для самостоятельного выполнения

    - Получить и отобразите на экране идентификатор клиента, фамилия и имя клиента, номер его телефона и идентификатор телефона. Требуется отобразить всех клиентов, даже тех, у кого телефон не указан.

Алгоритм выполнения запросов на изменение и удаление данных (UPDATE и DELETE) почти такой же как на чтение:
    - Создаем соединение с базой. После подключения получаем объект "соединение"
    - У объекта "соединение" устанавливаем свойство autocommit = True, чтобы вносимые изменения сразу сохранялись в базе.
    - Получаем "курсор" из объекта "соединение" (dictionary=True указывать не нужно)
    - Вызываем метод execute() у курсора
    - Закрываем "курсор"
    - Закрываем "соединение".

In [ ]:
conn.row_factory = sqlite3.Row # Выбираем режим, при котором можно обращаться к полям запроса по именам
cursor = conn.cursor( ) # Получаем “курсор” из объекта “соединение”

# Текст запроса
query = "UPDATE RPA_Person SET age = :age WHERE first_name=:first_name"


# Аргументы, которые мы подставим в запрос
args = {'first_name' : 'Иванов', 'age' : 35}  
cursor.execute(query, args) # Выполняем запрос, передав ему аргументы
conn.commit() # Сохраняем измененения в базе

cursor.execute("SELECT * FROM RPA_Person")
for row in cursor:
    print(row['first_name'], row['last_name'], row['age'])
    
cursor.close() # Закрываем “курсор”

##### Задание для самостоятельного выполнения

    - Переберите всех клиентов, если у клиента не задан возраст - задайте 0 лет.
    - Если возраст задан - добавьте ему телефон "+7 916 555-4433"

## 4. Работа с СУБД Ключ - значение (на примере Redis)

### 1. Возможности Redis

У этой базы не так много возможностей, как у SQL баз.

Три основных действия - это установка значения (SET), получение значения (GET) и удаление пары ключ-значение (DELETE).


Возможные еще три дополнительных действия: увеличение и уменьшение числового значения на заданную величину (INCR и DECR) и добавление к строке новых символов (APPEND)

### 2. Работа через Python-библиотеку

Для доступа к базе данных будем использовать библиотеку redis.

Кроме перечисленных выше операций она умеет создавать буфер команд (pipeline). Все команды из этого буфера выполняются пакетом.

Установим библиотеку

In [ ]:
! pip3 install redis

Код с комментариями позволит понять все демонстрируемые возможности:

In [1]:
import redis # Подключаем библиотеку redis

r = redis.StrictRedis(host='localhost', port=6379, db=1) # Подключаемся к базе

r.set('Val1', 5) # Присваиваем переменной Val1 значение 5

print(r.get('Val1')) # Получаем значение переменной Val1 

print(r.decr('Val1', 2)) # Уменьшаем значение Val1 на 2 - выдаст 3
 
print(r.incr('Val1', 10)) # Увеличиваем значение Val1 на 10 - выдаст 13

r.delete('Val1') # Удаляем переменную Val1  

print(r.get('Val1')) # Получаем значение переменной Val1 - Оно очищено


r.set('Val2', 'Привет') # Присваиваем переменной Val2 значение Hello
print(r.get('Val2').decode("utf-8"))  # Получаем значение переменной Val2 

r.append('Val2', ', Мир!')  # Добавляем к значению переменной Val2 значение 'Мир!
print(r.get('Val2').decode("utf-8") ) # Получаем значение переменной Val2 


pipe = r.pipeline() # Создаем буфер команд
pipe.set('Val3', '2')  # Присваиваем переменной Val2 значение 2
pipe.append('Val3', ' + 5') # Добавляем к значению переменной Val2 '+ 5'
pipe.append('Val3', ' = 7') # Добавляем к значению переменной Val2 '= 7'
pipe.execute() # Запускаем выполнение всех команд
print(r.get('Val3')) # Получаем значение переменной Val3 

r.bgsave() # Сохраняем все данные на диск

r.flushdb() # Очищаем всю выбраную базу
 
print(r.get('Val3')) # Получаем значение переменной Val3 - его нет (мы уже очистили базу)

b'5'
3
13
None
Привет
Привет, Мир!
b'2 + 5 = 7'
None

## 4. Работа с документоориентированной СУБД (на примере MongoDB)

### 1. Возможности MongoDB

Работа с документоориентированными базами отличается от работы с реляционными базами тем, что нужно работать не с таблицами и их полями, а с документом целиком.

Добавление документа выглядит так

``` mysql
db.collection.insert_one( { "name" : "Иванов Иван", "age" : 25 } );
```  

Поиск документа по одному параметру
``` mysql
db.collection.find({"name": "Иванов Иван"});
```  

Поиск документа по нескольким параметрам
``` mysql
db.collection.find({"name": "Иванов Иван", "age" : 25});
```  

Если мы хотим вернуть не весь документ, а только отдельные поля, их нужно оказать в дополнительных

``` mysql
db.collection.find({"age" : 25}, {"name" : 1});
``` 

В запросах можно указывать не только строгие равенства, но и больше/меньше.

Операторы: 

    $lt — меньше;
    
    $lte — меньше или равно;
    
    $gt — больше;  
    
    $gte — больше или равно; 
    
    $ne — не равно.

Поиск всех людей возврастом от 18 до 40 включительно:

``` mysql
db.collection.find({"age": { "$gte": 18, "$lte": 40 }} );
``` 

Несколько условий можно объединить при помощи оператора $or.
    
``` mysql
db.collection.find({"$or": [{ "age": 35}, { "first_name": "Иванов Иван" }]} )
``` 

Функций для обновления данных в MongoDB несколько, под разные задачи. Все они вызываются одинаково

``` mysql
<method_name>({условия}, {документ для замены или обновления}, upsert=False)
```
upsert=True - если документ, соответствующий заданным условиям не найден, он будет вставлен.

Варианты функций:

    replace_one - заменяет первый документ, соответствующий условиям;    
    update_one - обновляет первый документ, соответствующий условиям;    
    update_many - обновляет все документы, соответствующие условиям.

Для функций update_one и update_many следует использовать $-оператор ($set для установки значениа, $inc - для увеличения, $dec - для уменьшения, $unset - удаление поля)
    
``` mysql
db.collection.update_one({"age" : 25}, {"$set":{"age": 30}})
```

``` mysql
db.collection.update_many({"age" : 25}, {"$set":{"age": 30}})
```  

Для функций replace_one $-оператор не нужен
    
``` mysql
db.collection.replace_one({"age" : 25}, {"age": 30})
```  


Для удаления документов служат функции^
    
    delete_one - удаляет первый документ, соответствующий условиям.
    
    delete_many - удаляет все документы, соответствующие условиям.

Условия для них задаются точно так же.
    
``` mysql
db.collection.delete_one({"age" : 25})
    
db.collection.delete_many({"age" : 25})
```

### 2. Работа через Python-библиотеку

Установим библиотеку

In [ ]:
! pip3 install pymongo

Небольшой пример, который позволит увидеть все вышеприведенные функции в деле

In [1]:
import pymongo
from pymongo import MongoClient
    
client = MongoClient(port=27017)  # Подключаемся к базе
 
db=client['MyTestBase'] # Выбираем базу данных. Если ее еще нет - будет создана автоматически
 
coll = db['MyTestColl'] # Выбираем коллекцию документов. Если ее еще нет - будет создана автоматически
 
doc = {"first_name":"Шерлок", "last_name":"Холмс"} # Добавляем документ из двух полей - Имя и фамилия
coll.insert_one(doc)
 
coll.insert_one({"first_name":"Джон", "last_name":"Ватсон"}) # Другой вариант добавления документа
coll.insert_one({"first_name":"Профессор", "last_name":"Мориарти"})  
 
print('Выводим все документы из коллекции coll')
for men in coll.find(): # Выводим все документы из коллекции coll
    print (men)

Выводим все документы из коллекции coll
{'_id': ObjectId('5d93a17f8f63cd126d39552c'), 'first_name': 'Шерлок', 'last_name': 'Холмс'}
{'_id': ObjectId('5d93a17f8f63cd126d39552d'), 'first_name': 'Джон', 'last_name': 'Ватсон'}
{'_id': ObjectId('5d93a17f8f63cd126d39552e'), 'first_name': 'Профессор', 'last_name': 'Мориарти'}

In [2]:
print('Выводим фамилии людей с именем Джон')
for men in coll.find({"first_name": "Джон"}):
    print (men["first_name"], men["last_name"])

Выводим фамилии людей с именем Джон
Джон Ватсон

In [3]:
print('Выводим только фамилии')
for men in coll.find({ },{"last_name": 1}):
    print (men)

Выводим только фамилии
{'_id': ObjectId('5d93a17f8f63cd126d39552c'), 'last_name': 'Холмс'}
{'_id': ObjectId('5d93a17f8f63cd126d39552d'), 'last_name': 'Ватсон'}
{'_id': ObjectId('5d93a17f8f63cd126d39552e'), 'last_name': 'Мориарти'}

In [4]:
print('Выводим количество людей с именем Джон')
print (coll.count_documents({"first_name": "Джон"} ) )

Выводим количество людей с именем Джон
1

In [5]:
coll.update_many({}, {"$set":{"city": "Лондон"}}) # Добавляем ко всем документам новое поле city - город
 
coll.replace_one({"first_name": "Джон"}, {"last_name": "Уотсон", "age": 35}) # Первому Джону очищаем данные, ставим фамилию Уотсон и возраст 35 лет
 
coll.update_many({ }, {"$inc": {"age": 5}}) # Увеличиваем всем возраст на 5 лет
 
print('Выводим обновленные документы')
for men in coll.find(): # Выводим все документы из коллекции coll
    print (men)

Выводим обновленные документы
{'_id': ObjectId('5d93a17f8f63cd126d39552c'), 'first_name': 'Шерлок', 'last_name': 'Холмс', 'city': 'Лондон', 'age': 5}
{'_id': ObjectId('5d93a17f8f63cd126d39552d'), 'last_name': 'Уотсон', 'age': 40}
{'_id': ObjectId('5d93a17f8f63cd126d39552e'), 'first_name': 'Профессор', 'last_name': 'Мориарти', 'city': 'Лондон', 'age': 5}

In [6]:
print('Выбираем всех с именем Шерлок или фамилией Мориарти')
for men in coll.find({"$or": [{ "last_name": "Мориарти"}, { "first_name": "Шерлок" }]} ) :
    print (men)

Выбираем всех с именем Шерлок или фамилией Мориарти
{'_id': ObjectId('5d93a17f8f63cd126d39552c'), 'first_name': 'Шерлок', 'last_name': 'Холмс', 'city': 'Лондон', 'age': 5}
{'_id': ObjectId('5d93a17f8f63cd126d39552e'), 'first_name': 'Профессор', 'last_name': 'Мориарти', 'city': 'Лондон', 'age': 5}

In [7]:
coll.update_many({}, {"$unset": {"first_name": 1}}) # Удаляет у всех документов поле first_name
 
print('Выводим обновленные документы')
for men in coll.find(): # Выводим все документы из коллекции coll
    print (men)

Выводим обновленные документы
{'_id': ObjectId('5d93a17f8f63cd126d39552c'), 'last_name': 'Холмс', 'city': 'Лондон', 'age': 5}
{'_id': ObjectId('5d93a17f8f63cd126d39552d'), 'last_name': 'Уотсон', 'age': 40}
{'_id': ObjectId('5d93a17f8f63cd126d39552e'), 'last_name': 'Мориарти', 'city': 'Лондон', 'age': 5}

In [8]:
# удаляем людей с возрастом более 20 лет
coll.delete_many({"age": {"$gt": 20}})
 
print('Выводим обновленные документы')
for men in coll.find(): # Выводим все документы из коллекции coll
    print (men)
    
# удаляем все документы коллекции
coll.delete_many({})

Выводим обновленные документы
{'_id': ObjectId('5d93a17f8f63cd126d39552c'), 'last_name': 'Холмс', 'city': 'Лондон', 'age': 5}
{'_id': ObjectId('5d93a17f8f63cd126d39552e'), 'last_name': 'Мориарти', 'city': 'Лондон', 'age': 5}

##### Задание для самостоятельного выполнения

    - Исправьте эту ошибку (пусть у них вообще не будет возраста).
    - Добавьте Мориарти статус “Умер”.

## 6. Работа с графовой СУБД (на примере Neo4j)

### 1. Возможности Neo4j

Как мы уже знаем, графовые СУБД предназначены для хранения информации о связях между объектами.

Эти объекты называются “Вершинами”, а связи между ними “Ребрами графа”.
Графы, в которых вершины соединены более чем одним ребром называют Мультиграфом, а такие ребра называются кратными или параллельными.
В Neo4j ребра называют связями а вершины - нодами.

<img src="img/Pic6.png">

Neo4j позволяет хранить множество других атрибутов ноды и связи. В этом смысле они похожи на документ из MongoDB.


Заполнение базы начинается с создание нод. 

Продолжим с героями предыдущего задания - Шерлоком и его близкими.


Команда создания ноды выглядит так

``` mysql
CREATE (h_sh:persons { name: "Шерлок Холмс", profession: "Сыщик"})
```
h_sh - имя создаваемого объекта, его можно использовать в этом же скрипте для создания связей. Если вы не собираетесь его использовать (например, связи будут внесены позже), то можно не писать ничего.
    persons - Это метка (тип) ноды.
    name и profession - Атрибуты нашей ноды.

Создадим Ватсона

``` mysql
CREATE (dr_vts:persons { name: "Джон Ватсон", profession: "Врач"})
```

Посмотрим, что сейчас хранится в нашей базе запросом
``` mysql
MATCH (n) RETURN n
```
MATCH и RETURN - ключевые слова.
n - переменная, через которую мы получаем результаты.

Сейчас две ноды в нашей базе никак не связаны межды собой.

<img src="img/Pic7.png">

Теперь нужно создать связь (точнее связи) между ними.

Добавление связи в Neo4j делается через поиск

``` mysql
MATCH (h_sh:persons{name: "Шерлок Холмс"}), (dr_vts:persons { name: "Джон Ватсон"})

with h_sh,dr_vts

CREATE (h_sh)-[:friendship { }]->(dr_vts)
```  

Ищем человека (persons) по имени Шерлок Холмс (переменная h_sh) и человека по имени Джон Ватсон  (переменная dr_vts), берем эти переменные и создаем для них связь с типом “дружба” (friendship).
 
Наш граф принял вид

<img src="img/Pic8.png">

Но ведь Ватсон тоже дружит с Холмсом. Нужно построить обратную связь того же типа.

``` mysql
MATCH (h_sh:persons{name: "Шерлок Холмс"}), (dr_vts:persons { name: "Джон Ватсон"})

with h_sh,dr_vts

CREATE (dr_vts)-[:friendship { }]->(h_sh)
```

Скрипт очень похож на предыдущий, в команде добавления связи мы просто поменяли героев местами.

Теперь их дружба стала взаимной

<img src="img/Pic10.png">

Но ведь связи между этими людьми гораздо сложнее.

Например, Ватсон описывает деятельность Холмса.

Добавим и эту связь. 

``` mysql
MATCH (h_sh:persons{name: "Шерлок Холмс"}), (dr_vts:persons { name: "Джон Ватсон"})

with h_sh,dr_vts

CREATE (dr_vts)-[:connect {comment:"Описывает расследования" }]->(h_sh)
```  

В команде добавления связи мы создали связь с типом “connect” и в ее свойствах указали атрибут тип (conn_type:"Описывает расследования")

Теперь граф выглядит так

<img src="img/Pic9.png">

Предположим, Ватсон перестал писать о Холмсе (но они не ссорились и остались друзьями). Удаляем связь “Описывает расследования” командой

MATCH (x:persons {name:'Джон Ватсон'})-[r:connect{comment:"Описывает расследования"}]->(y) DETACH DELETE r

<img src="img/Pic10.png">

Мы задали условия поиска “Связь Джона Ватсона с атрибутом comment равным “Описывает расследования” помещается в переменную r”, а затем удаляем эту переменную.

Подобным же образом удаляется и нода. Удалим Холмса, а вместе с ним удаляются и связи

``` mysql
MATCH (n:persons{name: "Шерлок Холмс"})
DETACH DELETE n
```

<img src="img/Pic11.png">

Попробуем изменить и удалить атрибут ноды. Путь Ватсон будет по профессии не врачом, а доктором.

``` mysql
MATCH (n:persons{name: "Джон Ватсон") 
SET n.profession = 'Доктор' 
RETURN n
```  

А теперь вообще удалим упоминание о его профессии

``` mysql
MATCH (n:persons{name: "Джон Ватсон"}) 
REMOVE n.profession 
RETURN n
```  

У Ватсона осталось только имя

<img src="img/Pic12.png">

И напоследок команда, которая удаляем все ноды и связи

``` mysql
MATCH (n) DETACH DELETE n
```

### 2. Работа через Python-библиотеку

Для работы с Neo4j будем использовать библиотеку neo4j

Она устанавливается командой

In [ ]:
! pip3 install neo4j

Запускаем скрипт, который создаст Холмса и его окружение

In [20]:
from neo4j import GraphDatabase # Подключаем библиотеку с драйвером БД

# Соединяемся с базой
graphDB_Driver  = GraphDatabase.driver(uri = "bolt:localhost:7687", auth=("neo4j", "2"))

In [21]:
with graphDB_Driver.session() as graphDB_Session:
    # Очищаем базу (на тот случай, если мы ее уже запускали)
    cqlQuery1  = "MATCH (n) DETACH DELETE n"
    nodes = graphDB_Session.run(cqlQuery1)
    print("База очищена")

База очищена

In [22]:
# Формируем текст скрипта создающего ноды и связи между ними 
# Команда CREATE пишется один раз, создаваемые объекты перечисляются через запятую
# Все в одном скрипте, мы можем использовать имена нод (h_sh, dr_vts, pr_mr, h_mk) для создания связей, не используя MATCH
with graphDB_Driver.session() as graphDB_Session:
    cqlCreate = """CREATE (h_sh:persons { name: "Шерлок Холмс", profession: "Сыщик"}),
    (dr_vts:persons { name: "Джон Ватсон", profession: "Врач"}),
    (pr_mr:persons { name: "Профессор Мориарти"}),
    (h_mk:persons { name: "Майкрофт Холмс"}),

    (h_sh)-[:friendship { }]->(dr_vts),
    (dr_vts)-[:friendship { }]->(h_sh),
    (dr_vts)-[:connect {comment: "Описывает расследования"}]->(h_sh),

    (h_sh)-[:brother {comment: "Брат"}]->(h_mk),
    (h_sh)-[:connect {comment: "Скрытая зависть"}]->(h_mk),
    (h_mk)-[:brother {comment: "Брат"}]->(h_sh),

    (h_sh)-[:connect {comment: "Преследует"}]->(pr_mr),
    (pr_mr)-[:connect {comment: "Замышляет недоброе"}]->(h_sh) 
    """

    graphDB_Session = graphDB_Driver.session() # Получем объект "сессия"

    graphDB_Session.run(cqlCreate) # Запускаем сприпт, создающий ноды и связи

Посмотрим, что получилось

In [23]:
with graphDB_Driver.session() as graphDB_Session:
    # Этот запрос вернет имена людей и их профессию
    cqlQuery1  = "MATCH (x:persons) RETURN x.name, x.profession"
    nodes = graphDB_Session.run(cqlQuery1)
    print("Персонажи из нашего графа:")
    for node in nodes:
        print(node)

Персонажи из нашего графа:
<Record x.name='Шерлок Холмс' x.profession='Сыщик'>
<Record x.name='Джон Ватсон' x.profession='Врач'>
<Record x.name='Профессор Мориарти' x.profession=None>
<Record x.name='Майкрофт Холмс' x.profession=None>

И какие связи между персонажами и Холмсом

In [24]:
with graphDB_Driver.session() as graphDB_Session:
    # Этот запрос вернет имена людей, связанных с Холмсом, тип этой связи type(r) и 
    cqlQuery2 = "MATCH (x:persons {name:'Шерлок Холмс'})-[r]->(y:persons) RETURN y.name, type(r), r.comment"
    nodes = graphDB_Session.run(cqlQuery2)
    print("Отношения Шерлока Холмса с окружающими:")
    for node in nodes:
        print(node)

Отношения Шерлока Холмса с окружающими:
<Record y.name='Профессор Мориарти' type(r)='connect' r.comment='Преследует'>
<Record y.name='Майкрофт Холмс' type(r)='connect' r.comment='Скрытая зависть'>
<Record y.name='Майкрофт Холмс' type(r)='brother' r.comment='Брат'>
<Record y.name='Джон Ватсон' type(r)='friendship' r.comment=None>

А сейчас посмотрим список всех врачей

In [25]:
with graphDB_Driver.session() as graphDB_Session:
    # Query the graph    
    cqlQuery          = "MATCH (x:persons {profession:'Врач'}) RETURN x.name, x.profession"
    nodes = graphDB_Session.run(cqlQuery)
    print("Список врачей:")
    for node in nodes:
        print(node)

Список врачей:
<Record x.name='Джон Ватсон' x.profession='Врач'>

Добавим новую ноду и связи для нее

In [26]:
with graphDB_Driver.session() as graphDB_Session:
    # Добавим графство Суссекс и отразим мечту Холмса уехать туда на покой
    cqlCreate2 = """ CREATE (:county { name: "Суссекс (гр)"})
    """
    graphDB_Session.run(cqlCreate2)


    cqlCreateConn = """MATCH (h_sh:persons{name: "Шерлок Холмс"}), (c_ss:county { name: "Суссекс (гр)"})
    with h_sh,c_ss
    CREATE (h_sh)-[:connects_in {conn_type: "Мечтает о переезде"}]->(c_ss)
    """
    graphDB_Session.run(cqlCreateConn)

И еще раз смотрим все связи с Холмсом

In [31]:
with graphDB_Driver.session() as graphDB_Session:
    # Этот запрос вернет имена людей, связанных с Холмсом, тип этой связи type(r) и 
    cqlQuery2 = "MATCH (x:persons {name:'Шерлок Холмс'})-[r]->(y) RETURN y.name, type(r), r.comment, r.conn_type"
    nodes = graphDB_Session.run(cqlQuery2)
    print("Отношения Шерлока Холмса с окружающими:")
    for node in nodes:
        print(node)

Отношения Шерлока Холмса с окружающими:
<Record y.name='Суссекс (гр)' type(r)='connects_in' r.comment=None r.conn_type='Мечтает о переезде'>
<Record y.name='Профессор Мориарти' type(r)='connect' r.comment='Преследует' r.conn_type=None>
<Record y.name='Майкрофт Холмс' type(r)='connect' r.comment='Скрытая зависть' r.conn_type=None>
<Record y.name='Майкрофт Холмс' type(r)='brother' r.comment='Брат' r.conn_type=None>
<Record y.name='Джон Ватсон' type(r)='friendship' r.comment=None r.conn_type=None>

##### Задание для самостоятельного выполнения

    - Добавьте Мориарти статус "Умер". 
    - Удалите связи между ним и Холмсом

## 7. Ответы на задания

### 1. Задание по SQL

In [14]:
import sqlite3 # Загружаем библиотеку
conn = sqlite3.connect("testDB2.sqlite") # Создаем соединение с базой данных (файлом с именем McScv.sqlite)

# Решение
# Если у клиента не задан возраст - задайте 0 лет.

conn.row_factory = sqlite3.Row # Выбираем режим, при котором можно обращаться к полям запроса по именам
cursor = conn.cursor( ) # Получаем “курсор” из объекта “соединение”

# Текст запроса
query = "UPDATE RPA_Person SET age = 0 WHERE age IS NULL"

cursor.execute(query) # Выполняем запрос, аргументов в этом случае нет
conn.commit() # Сохраняем измененения в базе

cursor.execute("SELECT * FROM RPA_Person")
rows = cursor.fetchall() # Получаем объект “строки данных”

for row in rows:
    print(row['first_name'], row['last_name'], row['age'])
sqldataToTable(rows) # Выводим все колонки в виде таблицы
    
cursor.close() # Закрываем “курсор”

Иванов Иван 0
Сергеев Петр 0
Иванников Захар 0

### 2. Задание по MongoDB

In [15]:
import pymongo
from pymongo import MongoClient
    
client = MongoClient(port=27017)  # Подключаемся к базе
 
db=client['MyTestBase'] # Выбираем базу данных. Если ее еще нет - будет создана автоматически
 
coll = db['MyTestColl'] # Выбираем коллекцию документов. Если ее еще нет - будет создана автоматически

# Решение
coll.update_many({}, {"$unset": {"age": 1}}) # Удаляет у всех документов поле age
 
coll.update_many({"last_name":"Мориарти"}, {"$set":{"state": "Умер"}}) # Добавляем Мориарти статус “Умер”
 
print('Выводим обновленные документы')
for men in coll.find(): # Выводим все документы из коллекции coll
    print (men)

Выводим обновленные документы

### 3. Задание по Neo4j

In [16]:
from neo4j import GraphDatabase # Подключаем библиотеку с драйвером БД

# Соединяемся с базой
graphDB_Driver  = GraphDatabase.driver(uri = "bolt:195.201.16.200:7474", auth=("neo4j", "pass_for_neo4j"))

# Решение
# Добавьте Мориарти статус "Умер"
with graphDB_Driver.session() as graphDB_Session:
    cqlQuery2 = "MATCH (n:persons{name: 'Профессор Мориарти'}) RETURN n"
    nodes = graphDB_Session.run(cqlQuery2)

    print("Информация о Мориарти до добавления статуса:")
    for node in nodes:
        print(node)
        
    cqlQuery2 = "MATCH (n:persons{name: 'Профессор Мориарти'}) SET n.state = 'Умер' RETURN n"
    nodes = graphDB_Session.run(cqlQuery2)

    print("Информация о Мориарти:")
    for node in nodes:
        print(node)

ServiceUnavailable: Failed to establish connection to ('127.0.0.1', 7687) (reason [WinError 10061] Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение)

In [ ]:
# Решение
# Удалите связи между ним и Холмсом
with graphDB_Driver.session() as graphDB_Session:
    cqlQuery2 = "MATCH (x:persons {name:'Профессор Мориарти'})-[r]->(y) RETURN y.name, type(r), r.comment"
    nodes = graphDB_Session.run(cqlQuery2)
    
    print("Отношения Мориарти с окружающими до обновления:")
    for node in nodes:
        print(node)
        
    cqlDelQuery = "MATCH (x:persons {name:'Профессор Мориарти'})-[r]->(y:persons {name:'Шерлок Холмс'}) DETACH DELETE r"
    graphDB_Session.run(cqlDelQuery)

    cqlQuery2 = "MATCH (x:persons {name:'Профессор Мориарти'})-[r]->(y) RETURN y.name, type(r), r.comment"
    nodes = graphDB_Session.run(cqlQuery2)
    
    print("Отношения Мориарти с окружающими:")
    for node in nodes:
        print(node)